@use "../../assets/sass/variables" as *;

h2 {
    margin: 5px 0;
    font-size: 24px;
    font-weight: $font-light;
}

.ticket {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 200px;
    height: 280px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;

    background-color: $color-d;

    &__counter {
        margin-top: auto;
        align-self: center;

        width: 160px;
        border: 2px solid black;
        border-radius: 5px;
        padding: 1rem;
        background-color: $color-e;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--positive {
            background-color: $color-a;
        }

        &--button-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
        }
        &--button {
            background-color: #00000000;
            border: none;
            font-size: 24px;

            height: 30px;
            width: 30px;
        }
    }
}