@use "../../assets/sass/variables" as *;

.TicketContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;

    margin: 2rem;
    padding: 2rem;
    border: 3px solid black;
    border-radius: 5px;
    background-color: $color-c;
}

.title {
    font-size: 54px;
    font-weight: $font-heavy;
}
.ticket-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}