@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap');

$primary-font: 'Ubuntu', sans-serif;
$font-light: 300;
$font-heavy: 500;

$color-a: #97f7ca;
$color-b: #18c4ce;
$color-c: #ebeeee;
$color-d: #b3e1df;
$color-e: #ec8e87;
$color-black: #16151c;